{% extends 'body.html' %}

{% load widget_tweaks %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% elif action == 'edit' %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                       {{title}}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% csrf_token%}
                <input type="hidden" name="action" value="{{action}}">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="">{{field.label}}: </label>
                        {{ field }}
                    </div> 
                {% endfor %}
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-save"></i> Guardar Registro
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
    </script>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                if(!data.hasOwnProperty('error')){
                    location.href = '{{ list_url }}';
                    return false;
                }
                mensaje_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                console.log(data)
            });
                
        });
    </script>
{% endblock  %}